<div class="row action-list">
  <% chunk.actions.select(&:persisted?).each do |action| %>
    <div class="col s12 m4">
      <%= link_to action, class: 'green-text text-darken-3' do %>
        <div class="hoverable card" style="border-bottom: 2px solid green">
          <div class="card-content">
            <div class="card-title">
              <i class="material-icons right md-36">trending_flat</i>
              <%= action.title %>
            </div>
            <p class="chunk-preview grey-text">
              <%= action.description.presence || "Branch by #{action.next_chunk.user.name}" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if chunk.actions.select(&:persisted?).empty? %>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <%= link_to '#subscribe-modal', class: 'modal-trigger' do %>
        <div class="hoverable card">
          <div class="card-content green-text">
            <i class="material-icons left">notifications</i>
            Subscribe to get notified when this story continues...
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render partial: 'chunks/subscribe_modal', locals: { chunk: chunk } %>