<div class="row">
  <% chunks.each do |chunk| %>
    <div class="col s10 offset-s1">
      <div class="hoverable card" style="background: <%= chunk.background_color %>; color: <%= chunk.text_color %>">
        <div class="card-content">
          <span class="card-title">
            <%= chunk.title %><br />
            <small>
              by <%= link_to chunk.user.name, chunk.user, class: 'orange-text' %>
              & <%= pluralize 'N', 'other' %>
            </small>
          </span>
          <div class="chunk-body">
            <%= chunk.body.html_safe %>
          </div>
        </div>
        <%= link_to chunk, class: 'orange-text text-lighten-2' do %>
          <div class="card-action center green darken-3">
          Continue reading
          </div>
        <% end %>
      </div> 
    </div>
  <% end %>
</div>