<div class="chunk">
  <h1 class="title">
    <%= @chunk.title %>
  </h1>
  <div class="metadata grey-text">
    Published <%= time_ago_in_words @chunk.published_at %> ago
    by <%= link_to @chunk.user.name, @chunk.user %>
  </div>

  <div class="body flow-text">
    <%= @chunk.body.gsub(/\n+/, render("actions/branch_point")).html_safe %>
  </div>

  <%= render partial: "actions/list" %>
</div>
