<!DOCTYPE html>
<html>
  <head>
    <title>Branch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body <%= yield :body_modifiers %>>
    <div class="container-fluid">
      <div class="row">
        <div class="col s12 m10 offset-m1">

          <%= yield %>
        </div>
      </div>
    </div>

    <%= render partial: 'layouts/fab' %>
  </body>

  <script type="text/javascript">
    $(document).ready(function(){
      M.AutoInit();
    });
  </script>
</html>
