<!DOCTYPE html>
<html>
  <head>
    <title>Branch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
